.colors{
    position: absolute;
    height: 50%;
    width: 50%;
}

.onOffBtn{
    width: 55px;
    height: 23px;
    position: relative;
    top: 29px;
    right: -95px;
    border: none;
    border-radius: 10px;
}
