@import "helper/variables";
@import "helper/inherit";

body{
  font: $font;
  height: 100vh;
  background-color: $back-color;
  display: flex;
  justify-content:center;
  align-items:center;
}

#simon{
  width:500px;
  height:500px;
  border: $simon-border;
  margin-top:5%;
  border-radius:50%;
  display:flex;
  overflow: hidden;
  z-index:100;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webk;
}

#judge{
  width: 260px;
  height: 260px;
  border: $simon-border;
  border-radius: 50%;
  text-align: center;
  z-index: 102;
  position: relative;
  background-color: white;
  top: 25%;
  right: -20%;
  h2{
    margin-top: 33px;
    padding:0px;
    color:#1D1F20;
    font-family: 'Cutive Mono', monospace;
    font-weight:bold;
    font-size: 40px;
  }
}

label{
  font-size:13px;
  position: relative;
  top: 13px;
  padding-right: -5px;
}

.row{
  position: relative;
  top: 17px;
  label{
    top:0px;
  }
}

.offBtn{
  @extend .onOffBtn;
  background: url('https://cdn1.iconfinder.com/data/icons/simgeler-interface/512/Switches-128.png') -182px -27px;
}

.onBtn{
  @extend .onOffBtn;
  background: url('https://cdn1.iconfinder.com/data/icons/simgeler-interface/512/Switches-128.png') -147px -79px;
}

#green {
  @extend .colors;
  background-color: #00A74A;
  left: 0;
  top: 0;
  border-bottom: $simon-border;
  border-right: $simon-border;
  &.active{
    background-color: #00ff00 !important;
  }
}

#red {
  @extend .colors;
  border-bottom: $simon-border;
  background-color: #9F0F17;
  right: 0;
  top: 0;
  &.active{
    background-color: #ff0000 !important;
  }
}

#yellow {
  @extend .colors;
  background-color: #CCA707;
  bottom: 0;
  left: 0;
  border-right: $simon-border;
  &.active{
    background-color: #ffff00 !important;
  }
}

#blue {
  @extend .colors;
  background-color: #094A8F;
  bottom: 0;
  right: 0;
  &.active{
    background-color: #0000ff !important;
  }
}




.starter{
  height:17px;
  width:15px;
  border-radius:50%;
  #start{
    background-color:green;
    border-color:black;
  }
  #strict{
    background-color:yellow;
    border-color:black;
    margin-left:10px;
  }
}


#number{
  width:50px;
  height: 30px;
  background-color:#32050C;
  border-radius:10px;
  margin:0 auto;
  border:3px solid black; 
  font-weight: bold;
  color: white;
  font-family: 'Cutive Mono', monospace;
  position: relative;
  top: 18px;
}


#strictActive{
  width: 7px;
  height: 7px;
  border: 2px solid black;
  background-color: black;
  position: relative;
  right: -142px;
  top: -5px;  
  &.active{
    background-color: firebrick !important;
  }
}


